---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Nephro Decisions. 保留所有權利。｜<a href="/about#disclaimer">免責聲明</a></p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer a {
		color: rgb(var(--gray));
	}
</style>
